.left
{
    float: left; 
    width: 32%; 
    border: 1px solid black;
    min-height: 590px;
    padding: 0px 5px 0px 5px;
    height: inherit;
}

.right
{ 
    float: right; 
    width: 32%; 
    border: 1px solid black;
    min-height: 590px;
    padding: 0px 5px 0px 5px;
    height: inherit;
}

.center
{ 
    display: inline-block; 
    width: 32%; 
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    min-height: 590px;
    padding: 0px 5px 0px 5px;
    height: inherit;
}

h2
{
    text-align: center;
}
